
.idea/
*.iml
.gradle/
local.properties

.DS_Store
*.log
*.keystore
*.jks
*.bak

/build/
*/build/

.cxx/
.externalNativeBuild/
captures/
outputs/
generated/

.gradle/cache/
.gradle/wrapper/dists/
gradle-app.setting

*.apk
*.aab
*.ap_

*.lock
*.tmp
*.swp
*.swo

.sass-cache/
Thumbs.db
ehthumbs.db
*.stackdump
*.pid
*.seed
*.old
*.original
*.rej
*~$

*.idea/
*.vscode/
*.env
